*{
padding : 0;
margin :  0;
}
.banner{
    height : 180vh;
    width : 100%;
    position : relative;
    background-image :linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) ,url(./Pluck-Birmingham-Kitchen-1-1600x1067.webp);
    background-position : center;
    background-size : cover; 
}
.navbar{
    width : 100%;
    margin : auto;
    padding : 35px 0;
    display : flex;
    justify-content : space-between;
}
.logo{
    width : 120px;
}
.navbar ul li{
    display : inline-block;
    margin : 0 20px;
    position : relative;
}
.navbar ul li a{
    text-decoration : none;
    color : #fff;
    text-transform : uppercase;

}
.navbar ul li ::after{
    content : '';
    height : 3px;
    width : 0;
    background : #009688;
    position : absolute;
    left : 0;
    bottom : -10px;
    transition : 0.5s;
}
.navbar ul li :hover::after{
    width : 100%;
}
.content{
    width : 100%;
    position : absolute;
    top : 50%;
    transform : translateY(-50);
    text-align : center;
    color : #fff;

}
.content h1{
    font-size : 50px;
    margin-top : 80px;
}
.content p{
    margin : 20px auto;
    font-size : 20px;
    line-height : 25px;
}
.btn{
    width : 200px;
    padding : 15px 0;
    text-align : center;
    margin : 20px 10px;
    border-radius : 25px;
    font-weight : bold;
    border : 2px solid #009688;
    background : transparent;
    color : #fff;
    font-size : 20px;
    position : relative;
    overflow : hidden;
}
span{
    background : #009688;
    height : 100%;
    width : 0;
    border-radius : 25px;
    position : absolute;
    left : 0;
    bottom : 0;
    z-index : -1;
    transition : 0.5s;
}
.btn:hover span{
    width : 100%;

}
.btn:hover{
    border : none;
}


.para{
    width : 1000px;
    height : 400px;
    margin-top : 70px;
    border : 5px solid black;
font-size : 23px;
font-family : georgia;
color : black;
line-height : 1cm;
margin-bottom : 60px;
margin-left : 200px;
margin-right : 200px;
box-shadow : 10px 10px 15px 10px;
background-color : rgba(66, 34, 34, 0.849);
}
.tag{
    color : Black;
    font-size : 30px;
}
.pa{
    font-size : 25px;
    color: white; 
}
*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
.container{
    max-width : 1170px;
    background-color : gray;
    margin : auto;
}

ul{
    list-style : none;
}

